a,
button {
	transition: color .5s, background-color .5s;
}

a:focus,
button:focus {
	outline: 1px dotted #BF9649;
}

/*
a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}
*/
