.stone {
	&__container-top {
		margin-bottom: 4.9rem;
		@media screen and (max-width: 767px) {
			margin-bottom: 2.5rem;
		}
	}

	&__container-top::after {
		content: "";
		display: table;
		clear: both;
	}

	&__wrapper-top {
		margin-bottom: 2.05rem;
		max-width: 840px;

		@media screen and (min-width: 1600px) {
			float: left;
		}
		@media screen and (max-width: 1599px) {
			@include center-block;
		}
	}

	&__heading {
		@media screen and (min-width: 1600px) {
			text-align: left;
		}
	}

	&__heading-2 {
		@media screen and (min-width: 768px) {
			text-align: left;
		}
	}

	&__heading::after {
		@media screen and (min-width: 1600px) {
			left: 0;
			transform: none;
		}
	}

	&__heading-2::after {
		@media screen and (min-width: 768px) {
			left: 0;
			transform: none;
		}
	}

	&__heading-2 {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__text {
		@media screen and (min-width: 1600px) {
			text-align: left;
		}
	}

	&__slider {
		@media screen and (min-width: 1600px) {
			margin-bottom: 1rem;
			float: right;
			width: 45%;
		}
		@media screen and (max-width: 1599px) {
			@include center-block;
			margin-bottom: 2.2rem;
		}

		.slick-slide img {
			margin: 0 auto;
		}
	}

	&__slider-wrapper {
		margin-left: auto;
		margin-right: auto;
		max-width: 507px;
		@media screen and (max-width: 767px) {
			max-width: 301px;
		}
	}

	&__tech-specs {
		color: $color__dark-blue;
		font-size: .7rem;
		line-height: 1.3rem;

		@media screen and (min-width: 1600px) {
			float: left;
			width: 840px;
		}
		@media screen and (max-width: 1599px) {
			@include center-block;
			max-width: 840px;
		}
		@media screen and (max-width: 767px) {
			font-size: .6rem;
			line-height: .55rem;
		}
	}

	&__tech-specs-item {
		border: 1px solid #D1D1D1;
		display: flex;
		margin-bottom: .5rem;
	}

	&__tech-specs-col-1 {
		background-color: #eeeeee;
		padding: .5rem .5rem .5rem 2rem;
		width: 35%;
		@media screen and (max-width: 767px) {
			padding: .5rem .5rem .5rem .75rem;
		}
	}

	&__tech-specs-col-2 {
		padding: .5rem .5rem .5rem 1.25rem;
		width: 65%;
		@media screen and (max-width: 767px) {
			padding: .5rem;
		}
	}

	&__tab-buttons {
		@media screen and (max-width: 767px) {
			display: none;
		}
	}

	&__tab-button {
		background-color: $color__light-grey;
		border-radius: 5px 5px 0 0;
		border: none;
		color: $color__dark-blue;
		cursor: pointer;
		display: inline-block;
		font-size: 1rem;
		line-height: 1.25rem;
		outline: none;
		margin-right: 1rem;
		padding: 1rem 2.85rem 1rem 2.85rem;
		text-decoration: none;

		@media screen and (max-width: 1225px) {
			padding: 1rem;
		}
		@media screen and (max-width: 930px) {
			font-size: .9rem;
			line-height: 1rem;
			padding: .8rem;
		}
	}

	&__tab-button-4 {
		margin-right: 0;
	}

	&__tab-button-active {
		color: $color__light-grey;
		background-color: $color__dark-blue;
	}

	&__tab-wrapper {
		@media screen and (min-width: 768px) {
			background-color: $color__dark-blue;
			box-shadow: 0 -10px 30px rgba(0, 0, 0, .16);
			color: $color__light-grey;
		}
	}

	&__tab-container {

	}

	&__tab-content {
		position: relative;
		@media screen and (min-width: 768px) {
			display: none;
		}
		@media screen and (max-width: 767px) {
			background-color: $color__light-grey;
			border-radius: 5px;
			color: $color__dark-blue;
			margin-bottom: .65rem;
			padding: .5rem .9rem .5rem .9rem;
		}
	}

	&__tab-content-active {
		display: block;

		@media screen and (max-width: 767px) {
			background-color: $color__dark-blue;
			color: $color__light-grey;
		}
	}

	&__tab-content-4 {
		@media screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}

	&__tab-button-mobile {
		font-size: .7rem;
		font-weight: bold;
		line-height: 1.8rem;
		text-decoration: none;
		color: $color__dark-blue;
		@media screen and (min-width: 768px) {
			display: none;
		}
	}

	&__tab-button-mobile-active {
		color: $color__light-grey;
	}

	&__tab-content-wrapper {
		font-size: .7rem;
		line-height: 1.3rem;
		padding: 2.5rem 0 2.5rem 0;

		@media screen and (max-width: 767px) {
			display: none;
			font-size: .6rem;
			line-height: .9rem;
			padding: 1rem 0 0 0;
		}
	}

	&__tab-content-wrapper-active {
		@media screen and (max-width: 767px) {
			display: block;
		}
	}

	&__tab-wrapper-img {
		margin-bottom: 18rem;

		@media screen and (max-width: 1500px) {
			margin-bottom: 13rem;
		}
		@media screen and (max-width: 1100px) {
			margin-bottom: 10rem;
		}
		@media screen and (max-width: 767px) {
			margin-bottom: 0;
		}
	}

	&__tab-content-wrapper-img {
		padding-bottom: 23rem;

		@media screen and (max-width: 1500px) {
			padding-bottom: 18rem;
		}
		@media screen and (max-width: 1100px) {
			padding-bottom: 15rem;
		}
		@media screen and (max-width: 767px) {
			padding-bottom: 0;
		}
	}

	&__tab-content-wrapper p:first-child {
		margin-top: 0;
	}

	&__tab-content-text-img {
		padding-bottom: 4rem;

		@media screen and (max-width: 1500px) {
			padding-bottom: 2rem;
		}
		@media screen and (max-width: 767px) {
			padding-bottom: .7rem;
		}
	}

	&__tab-image {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		border-style: solid;
		border-color: #ffffff;
		border-top-width: 14px;
		border-bottom-width: 14px;
		border-left-width: 17px;
		border-right-width: 17px;
		box-shadow: 0 0 60px rgba(0, 0, 0, .34);
		width: 1330px;
		height: 698px;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: 768px) {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		@media screen and (max-width: 1500px) {
			width: 931px;
			height: 488px;
		}
		@media screen and (max-width: 1100px) {
			width: 665px;
			height: 349px;
		}
		@media screen and (max-width: 767px) {
			border-width: 5px;
			box-shadow: none;
			width: 100%;
			max-width: 292px;
			height: 195px;
			margin-bottom: 1.2rem;
		}
	}

	&__tab-image-container {
		width: 100%;
		height: 100%;
		position: relative;
	}

	&__tab-play {
		border-radius: 50%;
		background-color: $color__gold;
		background-image: url(assets/img/dist/play-button-arrowhead.svg);
		background-repeat: no-repeat;
		background-size: 33%;
		background-position: 57% 50%;
		cursor: pointer;
		display: inline-block;
		width: 105px;
		height: 105px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media screen and (max-width: 1500px) {
			width: 75px;
			height: 75px;
		}
		@media screen and (max-width: 767px) {
			width: 50px;
			height: 50px;
		}
	}

	&__subscripe-wrapper {
		background-color: $color__light-grey;
		margin-top: 5rem;
		padding-top: 1.3rem;
		padding-bottom: 2.2rem;
	}

	&__subscripe-inner {
		@media screen and (min-width: 1441px) {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	&__subscripe-col-1 {
		@media screen and (min-width: 1441px) {
			width: 30%;
		}
		@media screen and (max-width: 1440px) {
			margin: 0 auto;
			max-width: 320px;
			text-align: left;
		}

		p {
			margin: 0;
		}
	}

	&__subscripe-col-2 {
		@media screen and (min-width: 1441px) {
			text-align: right;
			width: 70%;
		}
	}

	&__subscripe-heading {
		color: $color__dark-blue;
		font-size: 1.25rem;
		line-height: 1.5rem;
		margin-top: 0;
		margin-bottom: .35rem;

		@media screen and (max-width: 767px) {
			font-size: .7rem;
			line-height: 1rem;
		}
	}

	&__subscripe-text,
	.mc4wp-checkbox {
		color: $color__dark-blue;
		font-size: .85rem;
		line-height: 1.25rem;
		margin-top: 0;
		margin-bottom: 0;

		@media screen and (max-width: 767px) {
			font-size: .6rem;
			line-height: .9rem;
		}
	}

	.wpcf7 {
		position: relative;

		br {
			display: none;
		}
	}

	.mc4wp-checkbox {

		@media screen and (max-width: 1440px) {
			display: block;
			margin-bottom: 35px;
		}

		label {
			cursor: pointer;
		}
	}

	.wpcf7-form-control-wrap {
		@media screen and (max-width: 1440px) {
			display: block;
			max-width: 320px;
			margin: 0 auto;
		}
	}

	input[type="checkbox"] {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	input[type="checkbox"] + span {
		display: inline-block;
		position: relative;
		padding-left: 35px;

		@media screen and (max-width: 767px) {
			padding-left: 25px;
		}
	}

	input[type="checkbox"] + span::before {
		content: "";
		position: absolute;
		top: 1px;
		left: -1px;
		height: 20px;
		width: 20px;
		border: 1px solid $color__dark-blue;

		@media screen and (max-width: 767px) {
			top: 2px;
			left: 0;
			height: 15px;
			width: 15px;
		}
	}

	input[type="checkbox"] + span::after {
		content: "";
		position: absolute;
		display: none;

		left: 7px;
		top: 9px;
		width: 7px;
		height: 12px;
		border: solid $color__dark-blue;
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);

		@media screen and (max-width: 767px) {
			left: 7px;
			top: 4px;
			width: 4px;
			height: 9px;
		}
	}

	input[type="checkbox"]:checked + span::after {
		display: block;
	}

	.wpcf7-text,
	.wpcf7-email {
		border: none;
		color: $color__dark-blue;
		font-size: 0.85rem;
		line-height: 1.5rem;
		margin-right: .75rem;
		max-width: 320px;
		outline: none;
		padding: 9px 30px 12px 30px;

		@media screen and (max-width: 1440px) {
			display: block;
			margin: 0 auto 1.5rem;
		}
		@media screen and (max-width: 767px) {
			font-size: .7rem;
			line-height: 1.8rem;
			margin: 0 auto 1.1rem;
			padding: 0 20px 1px 20px;
			width: 100%;
		}
	}

	.wpcf7-text::placeholder,
	.wpcf7-email::placeholder {
		color: $color__dark-blue;
		font-size: 0.85rem;
		line-height: 1.5rem;

		@media screen and (max-width: 767px) {
			font-size: .7rem;
			line-height: 1.8rem;
		}
	}

	.wpcf7-text:focus,
	.wpcf7-text:active,
	.wpcf7-email:focus,
	.wpcf7-email:active {
		border: 1px solid $color__gold;
	}

	.wpcf7-submit {
		background-color: $color__gold;
		border: none;
		color: $color__light-grey;
		cursor: pointer;
		font-weight: bold;
		font-size: 0.85rem;
		line-height: 0.6rem;
		outline: none;
		padding-top: .95rem;
		padding-bottom: .95rem;
		width: 269px;
		transition: all .5s;

		@media screen and (max-width: 1440px) {
			display: block;
			margin: 0 auto;
			max-width: 320px;
			width: 100%;
		}
		@media screen and (max-width: 767px) {
			font-size: .6rem;
			line-height: .7rem;
			padding-top: 12px;
			padding-bottom: 12px;
		}
	}

	.wpcf7-submit:hover {
		background-color: $color__navy-blue;
	}

	.wpcf7-submit:focus,
	.wpcf7-submit:active {
		border: 1px solid $color__navy-blue;
	}

	.screen-reader-response {
		@media screen and (max-width: 1440px) {
			text-align: center;
		}
		@media screen and (max-width: 767px) {
			font-size: 0.6rem;
		}

		ul {
			@media screen and (max-width: 1440px) {
				list-style: none;
				padding: 0;
			}
		}
	}

	.wpcf7-response-output {
		max-width: 610px;
		margin-top: 15px;
		margin-left: auto !important;
		margin-right: auto !important;
		text-align: center;

		@media screen and (max-width: 767px) {
			font-size: .6rem;
			line-height: .7rem;
		}
	}

	.wpcf7-not-valid-tip {
		display: inline-block;
		font-size: .8rem;
		position: absolute;
		top: -28px;
		left: 0;

		@media screen and (max-width: 1440px) {
			top: -23px;
			left: 50%;
			transform: translateX(-50%);
		}
		@media screen and (max-width: 767px) {
			font-size: .6rem;
			line-height: .7rem;
			top: -18px;
		}
	}

	.ajax-loader {
		@media screen and (max-width: 1440px) {
			position: absolute;
			bottom: -30px;
			left: 50%;
			transform: translateX(-50%);
			margin: 0;
		}
	}
}